@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #111111;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0b0b0f;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
